@import "tailwindcss";

.add-more-btn {
  margin-top: 20px;
  border: 2px dashed black;
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
}

.add-more-btn:hover {
  background-color: #f4f4f4 !important;
}

.customerCard:hover {
  background-color: #f4f4f4;
}

.signinImg {
  background-image: url("./assets/Login.png");
  background-size: cover;
  background-position: center;
}

.py-custom {
  padding-top: 5rem;   /* or any value you want */
}